

$widths: (
    "950px": 600px,
    "800px": 100%
);

@each $width, $size in $widths {
    @media (max-width: $width) {
        .articles {
            article {
                max-width: $size;
            }
        }
    }
}

