// -----------------------------------------------------------------------------
// This file contains basic styles.
// -----------------------------------------------------------------------------
body {
	position: relative;
	background: url('../../assets/img/overlay.png') var(--bg);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

i {
	cursor: pointer;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.overlay {
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0, .4);
	z-index: 10000000;
	position: fixed;
	top: 0;
	left: 0;
	.form-container {
		position: fixed;
		z-index: 100000000;
		transform: translate(10%, 25%);
		opacity: 1;
		width: 80%;
		form {
			width: 100%;
			@extend %formStyles;
		}
	}
}

.fadeIn {
	animation: fadeIn .5s ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeOut {
	animation: fadeOut .5s ease forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
