// -----------------------------------------------------------------------------
// This file contains basic styles.
// -----------------------------------------------------------------------------
body {
	position: relative;
	background: var(--bg);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

i {
	cursor: pointer;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	object-fit: cover;
}



