@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Breakpoints / media-queries
@import
  'breakpoints/breakpoints';

// 3. Base stuff
@import
  'base/base',
  'base/animations',
  'base/typography';

// 4. Components of page, buttons
@import
  'components/alerts',
  'components/formStyles',
  'components/header-footer',
  'components/main',
  'components/article',
  'components/side-menu',
  'components/toggle-button',
  'components/user';

// 5. Page-specific styles
@import
  'pages/edit',
  'pages/delete',
  'pages/gallery',
  'pages/add-post',
  'pages/home',
  'pages/posts',
  'pages/profile',
  'pages/sign-in',
  'pages/sign-up';


