%article {
    background: var(--bg-article);
    color: $color-article;
    border-radius: 1em;
    position: relative;
    margin: 2em auto;
    h3 {
        width: 90%;
        margin: auto 0;
        text-align: left;
    }

    p {
        line-height: 1.6em;
        width: 90%;
        margin: 0 auto;
    }

    .img-container {
        border-radius: 1em;
        overflow: hidden;
        width: 90%;
        height: 20em;
        margin: auto;
    }

    .img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: 1s transform ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    .author {
        text-align: right;
        margin: 1em 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        i {
            font-size: 1.5em;
        }

        .author-name {
            span {
                display: block;
            }

            span:nth-of-type(1){
                color: darken($color-article, 20%);
            }
        }
    }
}