%article {
    background: var(--bg-article);
    color: $color-article;
    border-radius: 1em;
    position: relative;
    margin: 2em auto;
    
    @media (max-width: 1299px){
        width: 90%;
    }

    p {
        line-height: 1.6em;
        width: 90%;
        height: 300px;
        overflow: hidden;
        margin: 1em auto;
    }

    .img-container {
        border-radius: 1em;
        overflow: hidden;
        width: 90%;
        height: 20em;
        margin: auto;
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: 1s transform ease;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.header-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 90%;
    margin: auto;
    .post-author {
        text-align: right;
        padding: 2em 0;
        span:nth-of-type(1){
            color: darken($color-article, 20%);
        }
        .author-name {
            display: block;
        }
    }
    .title {
        padding: 2em 0;
        h1 {
            width: 100%;
            font-size: 1.5em;
            margin: auto 0;
            text-align: left;
            cursor: pointer;
        }
    }
}
