.main {
    position: relative;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;

    #strip-menu i {
        color: var(--color-text);
        position: fixed;
        z-index: 1000;
        top: -.2em;
        left: 0.2em;
    }
}