// -----------------------------------------------------------------------------
// This file contains svg heading/logo animation.
// -----------------------------------------------------------------------------
#logo {
    margin: 2em 0 2em 4em;
}

#logo path:nth-of-type(1){
    stroke-dasharray: 336.8858947753906px;
    stroke-dashoffset: 336.8858947753906px;
    animation: 1s line-animation ease forwards, fill .5s ease forwards 2s;
}
#logo path:nth-of-type(2){
    stroke-dasharray: 374.80023193359375px;
    stroke-dashoffset: 374.80023193359375px;
    animation: 1s line-animation ease forwards .3s, fill .5s ease forwards 2s;
}
#logo path:nth-of-type(3){
    stroke-dasharray: 324.00006103515625px;
    stroke-dashoffset: 324.00006103515625px;
    animation: 1s line-animation ease forwards .6s, fill .5s ease forwards 2s;
}
#logo path:nth-of-type(4){
    stroke-dasharray: 274.5999755859375px;
    stroke-dashoffset: 274.5999755859375px;
    animation: 1s line-animation ease forwards .9s, fill .5s ease forwards 2s;
}
#logo path:nth-of-type(5){
    stroke-dasharray: 219.39999389648438px;
    stroke-dashoffset: 219.39999389648438px;
    animation: 1s line-animation ease forwards 1.2s, fill .5s ease forwards 2s;
}
#logo path:nth-of-type(6){
    stroke-dasharray: 272.6649475097656px;
    stroke-dashoffset: 272.6649475097656px;
    animation: 1s line-animation ease forwards 1.5s, fill .5s ease forwards 2s;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: #fff;
    }
}