// -----------------------------------------------------------------------------
// This file contains toggle button for dark and light mode.
// -----------------------------------------------------------------------------
.toggle-container {
    position: fixed;
    top: 2.5em;
	right: 1em;
	z-index: 1000;
}

#switch{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: var(--color-button-bg);
	float: right;
	border-radius: 100px;
	position: relative;
} 

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: var(--color-button-switch);
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-headings);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}