.user {
    width: 50%;
    padding: 1em;
    border-radius: .5em;
    transform: translate(50%, 10%);
    position: relative;
    background: var(--bg-article);
    color: $color-article;
    .fa-times-circle {
        font-size: 1em;
    }
    .img-container{
        height: 20em;
        overflow: hidden;
    }
}

.user-notfound {
    height: 400px;
}