html {
  --bg: #fff;
  --color-headings: #000;
  --color-text: #000;
  --color-shadow: #fff;
  --bg-article: #4d4949;
  --color-button-bg: #000;
  --color-button-switch: #fff;
}

html[data-theme=dark] {
  --bg: #333333;
  --color-headings: #fff;
  --color-text: #fff;
  --color-shadow: #000;
  --bg-article: #252525;
  --color-button-bg: #fff;
  --color-button-switch: #000;
}

p:before,
p:after {
  content: "";
  display: table;
}

p:after {
  clear: both;
}

p {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

@media (max-width: 950px) {
  .articles article {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .articles article {
    max-width: 500px;
  }
}
body {
  position: relative;
  background: var(--bg);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

i {
  cursor: pointer;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@keyframes articleSlide {
  from {
    top: 10em;
  }
  to {
    top: 0;
  }
}
@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}
#logo2 path {
  stroke-dasharray: 5693.373046875;
  stroke-dashoffset: 5693.373046875;
  animation: 20s line-animation ease forwards;
}

/**
 * Basic typography style for copy text
 */
body {
  font-size: 100%;
  font-family: "Kumbh Sans", sans-serif;
}
body a {
  font-family: inherit;
}
body #strip-menu i {
  font-size: 200%;
}

.alert {
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
  animation: alertFade 1s ease-in-out 4s forwards;
  color: #fff;
}

.alert-success {
  background: green;
}

.alert-warning {
  background: orange;
}

@keyframes alertFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0;
  }
}
.add-post #add-form, .delete #delete-form, .edit #edit-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 2em auto;
}
.add-post #add-form input, .delete #delete-form input, .edit #edit-form input, .add-post #add-form textarea, .delete #delete-form textarea, .edit #edit-form textarea {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1em;
  background: var(--bg-article);
  color: #fafafa;
}
.add-post #add-form textarea, .delete #delete-form textarea, .edit #edit-form textarea {
  padding: 1em;
}
.add-post #add-form input:nth-of-type(1), .delete #delete-form input:nth-of-type(1), .edit #edit-form input:nth-of-type(1) {
  padding: 1em;
}
.add-post #add-form input[type=submit], .delete #delete-form input[type=submit], .edit #edit-form input[type=submit] {
  width: 30%;
  margin: auto;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}
.add-post #add-form input[type=submit]:hover, .delete #delete-form input[type=submit]:hover, .edit #edit-form input[type=submit]:hover {
  background: #F49F2C;
}
.add-post #add-form *, .delete #delete-form *, .edit #edit-form * {
  border: none;
  outline: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
  text-align: center;
}
@media (max-width: 800px) {
  header {
    grid-template-columns: 1fr;
  }
}
header ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 30%;
  margin: 1em auto;
}
header ul li {
  grid-row-start: 2;
  grid-row-end: 2;
}
header ul i {
  color: var(--color-text);
}
header ul strong {
  cursor: pointer;
}
header #logo2 {
  margin: 4em;
}
header #logo2 path {
  stroke: var(--color-headings);
}

.main {
  position: relative;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
}
.main #strip-menu i {
  color: var(--color-text);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0.2em;
}

.home .main .articles article, .side-menu .articles article {
  background: var(--bg-article);
  color: #fafafa;
  border-radius: 1em;
  position: relative;
  margin: 2em auto;
}
.home .main .articles article p, .side-menu .articles article p {
  line-height: 1.6em;
  width: 90%;
  margin: 1em auto;
}
.home .main .articles article .img-container, .side-menu .articles article .img-container {
  border-radius: 1em;
  overflow: hidden;
  width: 90%;
  height: 20em;
  margin: auto;
}
.home .main .articles article .img, .side-menu .articles article .img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: 1s transform ease;
}
.home .main .articles article .img:hover, .side-menu .articles article .img:hover {
  transform: scale(1.2);
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
}
.header-container .post-author {
  text-align: right;
  padding: 2em 0;
}
.header-container .post-author span:nth-of-type(1) {
  color: #c7c7c7;
}
.header-container .post-author .author-name {
  display: block;
}
.header-container .title {
  padding: 2em 0;
}
.header-container .title h1 {
  width: 100%;
  font-size: 1.5em;
  margin: auto 0;
  text-align: left;
  cursor: pointer;
}

.side-menu {
  color: #fafafa;
  background-color: #2B2929;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -100%;
  height: 100%;
  width: 300px;
}
.side-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.side-menu .account-info {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 0.1em solid #fafafa;
  margin: 2em auto;
  cursor: pointer;
}
.side-menu .content-container {
  padding: 1em;
}
.side-menu .articles article {
  width: 100%;
  height: 30vh;
}
.side-menu .articles article .img-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 1;
}
.side-menu .articles article h2 {
  position: relative;
  top: 1em;
  left: 0.5em;
  z-index: 2;
}
.side-menu .ul-menu li {
  margin: 0.5em 0;
  position: relative;
  cursor: pointer;
  transition: transform, all 0.3s ease;
}
.side-menu .ul-menu li a {
  display: block;
}
.side-menu .ul-menu .selected-page {
  background: #F49F2C;
  padding: 0.5em 0 0.5em 0.2em;
  border-radius: 0.3em;
  left: -2em;
}
.side-menu .ul-menu li:not(.selected-page):hover {
  transform: translateX(-2em);
  background: #F49F2C;
  padding: 0.5em 0 0.5em 0.2em;
  border-radius: 0.3em;
}

.menu-active .side-menu {
  animation: 0.5s slideRight ease forwards;
}
.menu-active #strip-menu i {
  animation: 0.5s menuRight ease forwards;
}
@keyframes slideRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes menuRight {
  0% {
    left: 0.5em;
  }
  100% {
    left: 5em;
  }
}

.menu-inactive .side-menu {
  animation: 0.5s slideLeft ease forwards;
}
.menu-inactive #strip-menu i {
  animation: 0.4s menuLeft ease forwards;
}
@keyframes slideLeft {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
@keyframes menuLeft {
  0% {
    left: 5em;
  }
  100% {
    left: 0.2em;
  }
}

.toggle-container {
  position: fixed;
  top: 2.5em;
  right: 1em;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--color-button-bg);
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--color-button-switch);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.home .main .articles-heading {
  padding: 0 3em 2em 3em;
  text-align: center;
  color: var(--color-headings);
  font-size: 5em;
  font-weight: 900;
}
.home .main .articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
  animation: articleSlide 1s ease forwards;
}
@media (max-width: 690px) {
  .home .main .articles {
    display: block;
  }
}
.home .main .articles article {
  z-index: 1;
  padding: 2em;
  transition: 1s transform ease;
}
.home .main .articles article:hover {
  transform: scale(1.1);
}
.home .main .articles article:nth-of-type(even) {
  z-index: 2;
  top: -4em;
  left: -1em;
  box-shadow: 8em 2em 10em 5em var(--color-shadow);
}
@media (max-width: 1299px) {
  .home .main .articles article:nth-of-type(even) {
    box-shadow: none;
    top: 0;
    left: 0;
  }
}

.posts .posts-wrapper {
  padding: 2em;
}
.posts .posts-wrapper .post {
  background-color: var(--bg-article);
  color: #fafafa;
  border-radius: 1em;
  width: 80%;
  margin: 2em auto;
}
.posts .posts-wrapper .post .img-container {
  width: 100%;
  height: 20em;
  overflow: hidden;
  border-radius: 1em 1em 0 0;
}
.posts .posts-wrapper .post .img-container .img {
  width: 100%;
  height: 100%;
  border-radius: 1em 1em 0 0;
  transition: 1s transform ease;
}
.posts .posts-wrapper .post .img-container .img:hover {
  transform: scale(1.2);
}
.posts .posts-wrapper .post .post-container {
  padding: 1em;
}
.posts .posts-wrapper .post .post-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px dotted #aaa;
}
.posts .posts-wrapper .post .post-header .post-author {
  text-align: right;
  padding: 1em;
}
.posts .posts-wrapper .post .post-header .post-author * {
  margin: 0.2em;
}
.posts .posts-wrapper .post .post-header .post-author a {
  display: block;
}
.posts .posts-wrapper .post .post-header .post-title {
  padding: 1em;
}
.posts .posts-wrapper .post .post-header .post-title * {
  margin: 0.2em;
}
.posts .posts-wrapper .post .post-body .post-text p {
  line-height: 1.7em;
  width: 70%;
  clear: both;
  padding: 1em;
}

/*# sourceMappingURL=main.css.map */
