.add-post {
    .form-container {
        width: 50%;
        margin: 1em auto;
        textarea {
            border-radius: 1em;
            padding: .5em;
            width: 100%;
        }

        input {
            border-radius: 1em;
            padding: .5em;
            border: none;
            outline: none;
        }

        *:focus {
            border: none;
            outline: none;
        }
    }
}