// -----------------------------------------------------------------------------
// This file contains styles that are specific to the gallery page.
// -----------------------------------------------------------------------------



