// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home {
    .main {
        .articles-heading {
            padding: 0 3em 2em 3em;
            text-align: center;

            color: var(--color-headings);

            font-size: 5em;
            font-weight: 900;
            @media (max-width: 760px){
                font-size: 3em;
            } 
            @media (max-width: 560px){
                font-size: 2em;
            }       
        }

        .articles {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            width: 80%;
            margin: auto;
            text-align: center;
            @media (max-width: 690px){
                display: block;
                width: 100%;
            } 
        
            article {
                z-index: 1;
                padding: 2em;
                @extend %article;
                transition: 1s transform ease;
                &:hover {
                    transform: scale(1.1);
                }
                &:nth-of-type(even){
                    z-index: 2;
                    top: -4em;
                    left: -1em;
                    box-shadow: 8em 2em 10em 5em var(--color-shadow);
                    @media (max-width: 1299px){
                        box-shadow: none;
                        top: 0;
                        left: 0;
                    }   
                }
            }
        }

        .about-wrapper {
            text-align: center;
            margin: 2em auto;
            h2, h3, p {
                padding: 1em;
                color: var(--color-headings);
            }
            h2 {
                font-size: 4em;
                border-bottom: 1px dotted #aaa;
                width: 100%;
            }

            h3 {
                font-size: 3em;
            }

            p {
                font-style: italic;
                width: 70%;
                margin: auto;
            }
            
            .info-item {
                margin: 10em auto;
                h4 {
                    font-size: 2em;
                    color: var(--color-headings);
                }
            }

            @media (max-width: 500px){
                p {
                    font-size: .8em;
                }
                
                h2 {
                    font-size: 2em;
                }

                h3 {
                    font-size: 1em;
                }

                .info-item {
                    margin: 2em auto;
                    h4 {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}


