// -----------------------------------------------------------------------------
// This file contains styles that are specific to the posts page.
// -----------------------------------------------------------------------------

.posts {
    .posts-wrapper {
        padding: 2em;
        .post {
            background-color: var(--bg-article);
            color: $color-article;
        
            border-radius: 1em;
        
            width: 80%;
            margin: 2em auto;
        
            .img-container {
                width: 100%;
                height: 20em;
                overflow: hidden;
                border-radius: 1em 1em 0 0;
                .img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1em 1em 0 0;
                    transition: 1s transform ease;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .post-container {
                padding: 1em;
            }
        
            .post-header {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .post-author {
                    text-align: right;
                    padding: 1em;
                    * {
                        margin: .2em;
                    }
                    a {
                        display: block;
                    }
                }

                .post-title {
                    padding: 1em;
                    * {
                        margin: .2em;
                    }
                }
                border-bottom: 1px dotted #aaa;
            }
        
            .post-body {
                .post-text {
                    p {
                        line-height: 1.7em;
                        width: 70%;
                        clear: both;
                        padding: 1em;
                    }  
                }
            }
        }
    }
}





