// -----------------------------------------------------------------------------
// This file contains styles that are specific to the posts page.
// -----------------------------------------------------------------------------

.posts {
    .posts-wrapper {
        padding: 2em;
        .post {
            background-color: var(--bg-article);
            color: $color-article;
        
            border-radius: 1em;
        
            width: 80%;
            margin: 4em auto;

            @media (max-width: 640px){
                width: 100%;
            }

            @media (max-width: 330px){
                p {
                    font-size: .6em;
                }
            }
            
            h3 {
                @media (max-width: 530px) {
                    font-size: 1em;
                    margin: 0;
                }
            }
        
            .img-container {
                width: 100%;
                height: 20em;
                overflow: hidden;
                border-radius: 1em 1em 0 0;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1em 1em 0 0;
                    transition: 1s transform ease;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .post-container {
                padding: 1em;
            }
        
            .post-header {
                display: grid;
                grid-template-columns: 2fr 1fr;
                @media (max-width: 450px){
                    display: block;
                }

                .post-author {
                    text-align: right;
                    padding: 1em;
                    @media (max-width: 450px){
                        text-align: center;
                    }
                    a {
                        display: block;
                        padding: .3em;
                    }

                    a:first-of-type {
                        font-size: 1.3em;
                    }

                    i {
                        transform: scale(1.2);
                    }

                    .fa-minus {
                        margin-right: .3em;
                    }

                }

                .post-title {
                    padding: 1em;
                    @media (max-width: 450px){
                        text-align: center;
                    }
                    h1 {
                        margin: 0;
                        @media (max-width: 530px) {
                            font-size: 1em;
                        }
                    }

                    span {
                        margin: 1em 0;
                        display: block;
                    }
                }
                border-bottom: 1px dotted #aaa;
            }
        
            .post-body {
                .post-text {
                    p {
                        line-height: 1.7em;
                        width: 70%;
                        clear: both;
                        padding: 1em;
                    }  
                }
            }

            .post-footer {
                .comments-container {
                    padding: 1em;
                    .comment {
                        margin: 1em 0;
                        padding: 1em;
                        border-radius: 1em;
                        border: 1px solid var(--bg-article-darken);
                        h3 {
                            color: darken($color-article, 20%);
                        }
                    }
                }
                form {
                    @extend %formStyles;
                    textarea {
                        background: var(--bg-article-darken);
                    }
                    input {
                        border: 1px solid var(--bg-article-darken);
                    }
                }
            }
            
            .fadeIn {
                animation: fadeIn .5s ease forwards;
            }
            
            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
            
                to {
                    opacity: 1;
                }
            }
        }
    }
}

//JUST TESTING

.scaled {
    animation: scaled 1s ease forwards;
}

@keyframes scaled {
    from {
        transform: scale(1);
        width: 80%;
    }

    to {
        transform: scale(1.05);
        width: 100%;
    }
}

.unscaled {
    animation: unscaled 1s ease forwards;
}

@keyframes unscaled {
    from {
        transform: scale(1.05);
        width: 100%;
    }

    to {
        transform: scale(1);
        width: 80%;
    }
}




