// -----------------------------------------------------------------------------
// This file contains styles that are specific to the sign in page.
// -----------------------------------------------------------------------------
.sign-in {
    #sign-in-form {
        @extend %formStyles;
        width: 40%;
        padding: 1em;
        border-radius: .5em;
        transform: translateY(50%);
        position: relative;
        top: 5%;
    }
}